<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From the Office of Grant Besner</title>
    <style>
        body {
            margin: 15%;
            padding: 15%;
            }
        
    </style>
</head>
<body>
    <h1>Icon</h1>
    <h2>Subject</h2>
    <h2>Greeting</h2>
    <h3>Timeline and Location</h3>
    <h3>Reflections</h3>
    <h3>Quotes</h3>
    <h3>Facts and Statistics</h3>
    <h3>Pictures</h3>
</body>
</html>